@use '../utilities/variables' as var;

.l-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var.$border-primary;
    z-index: var.$z-forward;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var.$primary-font;
    background-color: var.$white-color;

    &__brand {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        color: var.$primary-color;
        cursor: pointer;

        span {
            color: var.$secondary-color;
        }
    }
    &__menu {
        display: flex;
    }
    &__item {
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: var.$secondary-color;
        text-decoration: none;

        &:hover {
            color: var.$primary-color;
        }
        &.active {
            color: var.$primary-color!important;
        }
    }
}
