@use '../utilities/variables' as var;

.hero {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    font-family: var.$primary-font;
    
    &__caption {
        &-title {
            margin-top: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 63px;
            color: #152C5B;
        }
        &-description {
            margin: 20px 0 30px;
            width: 335px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 170%;
            color: #B0B0B0;
        }
    }
    &__banner {
        position: relative;
        z-index: var.$z-backward;
        margin-right: 47.41px;
        
        &-image {
            border-radius: 100px 15px 15px 15px;
            height: 410.63px;
            width: 465.12px;
            object-fit: cover;

        }
        &::after {
            position: absolute;
            z-index: var.$z-hidden;
            content: '';
            display: table;
            height: 398.25px;
            width: 452.59px;
            border-radius: 100px 15px 15px 15px;
            border: 2px solid var.$border-primary;
            top: 51.75px;
            left: 47.41px;
        }
    }

    .infomation {
        margin-top: 82px;
        display: flex;
        &__item {
            margin-right: 20px;

            &-label {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 170%;
                color: var.$secondary-color;
                span {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 170%;
                    color: var.$text-gray-200;
                }
            }
        }
    }
}

.mostpick {
    margin-top: 70px;
    font-family: var.$primary-font;
    
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #152C5B;
    }
    &__gallery {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 215px;
        gap: 30px;

        &-item {
            position: relative;
            border-radius: 15px;
            overflow: hidden;

            &-badge {
                position: absolute;
                top: 0;
                right: 0;
                z-index: var.$z-middle;
                padding: 6px 12px 6px 16px;
                border-radius: 0 15px 0 15px;
                background-color: var.$third-color;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 170%;
                text-align: center;
                color: #FFFFFF;
            }
            &-caption {
                position: absolute;
                bottom: 24.4px;
                left: 24.4px;
                z-index: var.$z-middle;

                &-label {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
                &-location {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
            &:first-child {
                grid-row: span 2;
            }
            &::after {
                position: absolute;
                z-index: var.$z-backward;
                content: '';
                display: table;
                height: 100%;
                width: 100%;
                border: 2px solid var.$border-primary;
                top: 0;
                left: 0;
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
            }
        }
    }
}

.house {
    margin-top: 70px;
    font-family: Poppins;

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #152C5B;
    }

    &__gallery {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-wrap: wrap;

        &-item {
            position: relative;
            cursor: pointer;
        }

        &-badge {
            position: absolute;
            top: 0;
            right: 0;
            z-index: var.$z-middle;
            padding: 6px 12px 6px 16px;
            border-radius: 0 15px 0 15px;
            background-color: var.$third-color;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 170%;
            text-align: center;
            color: #FFFFFF;
        }
        
        &-image {
            border-radius: 15px;
            transition: transform .3s ease;
            overflow: hidden;

            &:hover img {
                transform: scale(1.2);
            }
        }

        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #152C5B;
        }
        &-location {
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
            color: #B0B0B0;
        }
    }
}
